.empty {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.empty h1 {
    font-size: 200px;
    /* color: gray; */
    color: transparent;
   text-shadow: 0 0 5px rgba(0,0,0,0.5);
}
